@page "/"

<h1>Hello, gRPC!</h1>

<p>version 0.1.7</p>

<p>@stringa</p>

<input placeholder="Something todo" @bind="newTodo" />

<button class="btn btn-primary" @onclick="@SayHello">Say Hello</button>



<p>@Greeting</p>

@functions {
    private string Greeting;
    private string newTodo = "World";
    private string stringa;
    private string backend_service_host = Environment.GetEnvironmentVariable("BACKEND_SERVICE_HOST");
    private string backend_service_port = Environment.GetEnvironmentVariable("BACKEND_SERVICE_PORT");


    static void BuildUrl()
    {
        //backend = String.Format($"http://{backend_service_host}:{backend_service_port}");

    }

    async Task SayHello()
    {
        stringa = String.Format("{0}:{1}", backend_service_host, backend_service_port);
        var channel = new Channel(stringa, ChannelCredentials.Insecure);
        var client = new Greeter.GreeterClient(channel);

        var reply = await client.SayHelloAsync(new HelloRequest { Name = newTodo });
        Greeting = reply.Message + "!";

        await channel.ShutdownAsync();
    }




}

@code{

}